@page "/"

<PageTitle>Index</PageTitle>

<h1>Bună!</h1>

<p class="card-header">Bine ai venit! Aceasta este o aplicație creată pentru a evalua persoanele suspecte de boala Parkinson`s</p>

<SurveyPrompt Title="Pentru a utiliza aplicația, selectează o optiune din meniul din lateral." />
